<div class="row">
    <div class="col">
        <a [routerLink]="['/home']" style="float: left;"><img src="../../assets/back.svg" alt=''
                style="height: 45px;"></a>
        <h3 style="float: left;    padding: 5px;">Poduct Detail</h3>

    </div>

</div>
<div class="row" style="padding: 15px;">
    <div class="col-6">
        <img src="https://picsum.photos/id/1{{product[0].id}}/600/600" alt=''>
    </div>
    <div class="col-6">
        <h2 class="title"> {{product[0].title}}</h2>
        <span class="desc"> {{product[0].body}}</span>
    </div>
</div>