<div class="row">
    <div class="col">
        <h3 style="float: left;">Home</h3>
        <input class='search' type="text" placeholder="search" (keyup)="searchProduct($event)">
    </div>

</div>
<div class="row">
    <ng-container *ngFor="let product of products; let i = index;">
        <div class="col product-card" *ngIf="!product.isDeleted">
            <span class='header'>{{product.title}}</span>
            <a [routerLink]="['/product-detail/' + product.id]"> <img
                    src="https://picsum.photos/id/1{{product.id}}/300/300" alt=''> </a>
            <span class='footer'>
                <button (click)="likeProduct(product.id)"> {{product.isLiked ? 'UnLike' : 'Like'}} </button>
                <button (click)="removeProduct(product.id)" style="float: right;"> Remove </button>
            </span>
        </div>
    </ng-container>
</div>
<div *ngIf="checkProducts()" class="no-items">
    No Products
</div>